fastapi
uvicorn
pydantic
langchain
langchain_community
langchain-huggingface
langchain-chroma
chromadb
pypdf
httpx
python-multipart
websockets
pyngrok
nest_asyncio
sentence-transformers
langchain-text-splitters
python-dotenv
transformers
torch
accelerate
bitsandbytes
